<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1>Please Log In</h1>

    <form action="/log-in" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="username" />
      <label for="password">Password</label>
      <input type="text" name="password" id="password" />
      <button>Log Inn>
    </form>
  </body>
</html>
